.my-menu {
  padding: 120px 0;
}

.table {
  height: 250px;
  overflow-y: scroll;
  padding: 0 20px;
}

.basket-item-enter {
  opacity: 0;
}
.basket-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.basket-item-exit {
  opacity: 1;
}
.basket-item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
